<div class="landing-page">

  <h1>Visualise your favourite songs with Compose</h1>

  <div id="search-form">
    <form>
    <input type="text" name="search" id="search-input" value="" placeholder="Search Spotify for an artist, song or album">
    <br>
    <button>Search</button>
    </form>
  </div>

  <div id="search-results">
    <p id="songs">SONGS</p>
      <ul class="list"><a href="">
        <img src="" alt="">
        <li>title of song</li>
        <li>artist name</li>
      </ul></a>
      <p id="artist">ARTIST</p>
        <ul class="list"><a href="">
          <img src="" alt="">
          <li>artist name</li>
        </ul></a>
      <p id="album">ALBUM</p>
        <ul class="list"><a href="">
          <img src="" alt="">
          <li>album name</li>
          <li>artist name</li>
        </ul></a>
  </div>

</div>
