<div class="container">

  <h1>Visualise your favourite songs with Compose</h1>

  <div>
    <form id="search-form">
    <input type="text" name="search" class="" id="autocomplete" value="" placeholder="Search">
    <button>Search</button>
    </form>
  </div>

  <div>
    <h2>Search Results</h2>
      <ul>
        <li>Artist Name</li>
          <ul>
            <li>Track Title</li>
            <li>Track Title</li>
          </ul>
      </ul>
  </div>
</div>