  <div class="background-wrapper">
    <div class="background">

      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated-img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>

    </div>
  </div>

  <div class="page-content">

    <div class="landing-page">

      <h1>Visualise your favourite songs with Compose</h1>

      <div id="search-form">
        <form>
        <input type="text" name="search" id="search-input" value="" placeholder="Search Spotify for an artist, song or album">
        <button id="main-search-btn">Search</button>
        </form>
      </div>

      <div id="search-results">
        <p>SONGS</p>
          <ul id="songs" class="list"><a href="">
            <img src="" alt="">
          </ul></a>
          <p>ARTIST</p>
            <ul id="artist" class="list"><a href="">
              <img src="" alt="">
              <li>artist name</li>
            </ul></a>
          <p id="album">ALBUM</p>
            <ul id="album" class="list"><a href="">
              <img src="" alt="">
              <li>album name</li>
              <li>artist name</li>
            </ul></a>
      </div>

    </div>

  </div>

