<div class="background-wrapper">
  <div class="background">


  </div>
</div>

<div class="page-content">

  <div class="landing-page">

    <h1>Visualise your favourite songs with Compose</h1>

    <div id="search-form">
      <form>
      <input type="text" name="search" id="search-input" value="" autocomplete="off"  placeholder="Search Spotify for an artist, song or album">
      <button id="main-search-btn">Search</button>
      </form>
    </div>

    <div id="search-results">
      <p>SONGS</p>
        <ul id="songs" class="list">
        </ul>
        <p>ARTIST</p>
          <ul id="artist" class="list">
            <li><span>song name
          <li>artist name</li>
          </ul>
    </div>

  </div>

</div>
