<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/skeleton.css"> -->
  <link rel="stylesheet" type="text/css" href="css/css.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <title>Compose</title>
</head>
<body>

  <header>
    <nav id="navbar-player" class="navbar">
    <a id="navbar-brand" href="/">Compose</a>
     <ul>
       <li><form id="search-player">
         <label for="search-input-player" id="search-input-player-label"><i class="fa fa-search" id="search-icon"></i></label>
         <input type="text" name="search-input-player" class="arrow_box" id="search-input-player" placeholder="Search for more music">
       </form></li>
         </ul>
        <li>SIGN UP</li>
       <li>LOGIN</li>
       <li>LOGOUT</li>
     </ul>
    </nav>
  </header>

  <div class="content-container">

    <%- body %>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>
