<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/skeleton.css">

  <title>Compose</title>
</head>
<body>
<nav>
 <ul>
   <li>SEARCH</li>
     <ul>
       <li><form class="" action="index.html" method="post">
         <input type="text">
       </form></li>
     </ul>
   <li>SIGN UP</li>
   <li>LOGIN</li>
   <li>LOGOUT</li>
 </ul>
</nav>

 <%- body %>

</body>
</html>
