<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/skeleton.css"> -->
  <link rel="stylesheet" type="text/css" href="css/css.css">

  <title>Compose</title>
</head>
<body>

  <header>
    <nav class="navbar">
    <a id="navbar-brand" href="/">Compose</a>
     <ul>
       <!-- <li contenteditable="true">SEARCH</li> -->
         <!-- <ul class="drop-down">
           <li><form class="" action="index.html" method="post">
             <input type="text">
           </form></li>
         </ul> -->
       <li>SIGN UP</li>
       <li>LOGIN</li>
       <!-- <li>LOGOUT</li> -->
     </ul>
    </nav>
  </header>

  <div class="background-wrapper">
    <div class="background">

      <!-- for player page -->



      <!-- for homepage -->

      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
      <div class="floated_img">
        <img src="http://lorempixel.com/320/320/" alt="Some image">
      </div>
    </div>
  </div>

  <div class="container">

    <%- body %>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

</body>
</html>
