<div class="player">
  <div class="">
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Some image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
    <div class="floated_img">
      <img src="http://placekitten.com/g/320/320" alt="Another image">
    </div>
  </div>
</div>
