<div class="player-wrapper">
  <div class="player-floated-img">
      <img class="first" src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
  </div>
  <div class="player-floated-img">
      <img class="first" src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
  </div>
  <div class="player-floated-img">
      <img class="first" src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
  </div>
</div>
