<div id = "player" songId = '<%= songid %>' songName = '<%= songName %>' songArtist = '<%= songArtist %>' songTag = '<%= songTag %>'>
  <div class="player-wrapper">
    <div class="player-floated-img">
    </div>

    <div class="player-floated-img">
    </div>

    <div class="player-floated-img">
    </div>

    <div class="player-floated-img">
    </div>

    <div class="player-floated-img">
    </div>

  </div>
</div>
