<div class="player-wrapper">
  <div class="player">
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
    <div class="player-floated-img">
      <img src="http://lorempixel.com/320/320/" alt="Some image">
    </div>
  </div>
</div>
