@font-face {
  font-family: 'NeutraThin';
  src: url('/fonts/neutraDispThin.otf');
}

@font-face {
  font-family: 'Neutra';
  src: url('/fonts/NeutraTextBook.otf');
}

@font-face {
  font-family: 'NeutraBold';
  src: url('/fonts/NeutraTextBold.otf');
}

@font-face {
    font-family: 'fabfeltscriptbold';
    src: url('/fonts/fabfeltscript-bold.eot');
    src: url('/fonts/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/fabfeltscript-bold.woff2') format('woff2'),
         url('/fonts/fabfeltscript-bold.woff') format('woff'),
         url('/fonts/fabfeltscript-bold.ttf') format('truetype'),
         url('/fonts/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** {
  border: 1px solid red;
}*/

.container {
  display: flex;
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

/* Background */

.background-wrapper {
  width: 100%;
  overflow: hidden;
}

.background {
  width: 125%;
}

.floated_img {
  margin: 0;
  float: left;
  background-color: #1d1d1d;
}

.floated_img img {
  opacity: 0.2;
  -webkit-filter: blur(4px);
  filter: blur(5px);
}


/* Navingation */

#navbar-brand {
  margin-top: 1%;
  margin-left: 5%;
  font-family: fabfeltscriptbold;
  font-size: 4em;
  letter-spacing: 5px;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  width: 100%;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  list-style: none;
}

.navbar ul {
  text-align: right;
  font-family: NeutraThin;
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 0;
  margin-right: 5%;
  margin-top: 2%;
}

.navbar li {
  display: inline-block;
  border-radius: 10px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1%;
  margin-right: 1%;
  line-height: 50px;
  cursor: pointer;
}

.navbar ul li:hover {
  color: #ebb91c;
}

/* Landing Page */

.landing-page {
  /*background-color: #1c2663;
  opacity: 0.2;*/
  padding: 2%;
  border-radius: 10px;
}

.landing-page h1 {
  font-family: NeutraBold;
  font-size: 3em;
  color: #ebb91c;
}


/* Search Form */

#search-form {
  text-align: center;
}

#search-form button {
  margin: 2%;
  border: none;
  border-radius: 5px;
  font-family: Neutra;
  font-size: 1.5em;
  color: #d9faff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #32b1fc;
}

#search-input {
  text-align: center;
  font-family: Neutra;
  font-size: 2em;
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 40px;
  padding: 5px;
}
