@font-face {
  font-family: 'NeutraThin';
  src: url('/fonts/neutraDispThin.otf');
}

@font-face {
  font-family: 'Neutra';
  src: url('/fonts/NeutraTextBook.otf');
}

@font-face {
  font-family: 'NeutraBold';
  src: url('/fonts/NeutraTextBold.otf');
}

@font-face {
    font-family: 'fabfeltscriptbold';
    src: url('/fonts/fabfeltscript-bold.eot');
    src: url('/fonts/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/fabfeltscript-bold.woff2') format('woff2'),
         url('/fonts/fabfeltscript-bold.woff') format('woff'),
         url('/fonts/fabfeltscript-bold.ttf') format('truetype'),
         url('/fonts/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** {
  border: 1px solid red;
}*/

.page-content {
  display: flex;
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

/* Background */

.background-wrapper {
  width: 100%;
  overflow: hidden;
}

.background {
  width: 125%;
}

.floated-img {
  float: left;
  background-color: #1d1d1d;
}

.floated-img img {
  display: block;
  opacity: 0.4;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}


/* Navingation */

#navbar-brand {
  margin-top: 1%;
  margin-left: 5%;
  font-family: fabfeltscriptbold;
  font-size: 4em;
  letter-spacing: 5px;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  display: block;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1;
  color: #ffffff;

}

.navbar ul {
  text-align: right;
  padding: 0;
  margin-right: 5%;
  margin-top: 2%;
  list-style: none;
}

.navbar li {
  font-family: NeutraThin;
  font-size: 1.5em;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 10px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 1%;
  line-height: 50px;
  cursor: pointer;
  float: right;
}

.navbar ul li:hover {
  color: #ebb91c;
}

/* navbar for player */

#search-player {

}

#search-icon {
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 5px;
}

#search-input-player {
  width: 0px;
  height: 30px;
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
  transition: width 0.5s;
}

#search-input-player:focus {
  width: 200px;
  border-radius: 15px;
  border-style: none;
}

/* Landing Page */

.landing-page {
  margin: 4%;
  padding: 2%;
  border-radius: 10px;
}

.landing-page h1 {
  font-family: NeutraThin;
  font-size: 4em;
  color: #ebb91c;
}


/* Search Form */

#search-form button {
  margin-left: 5%;
  position: absolute;
  margin-left: -5px;
  height: 50px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-family: Neutra;
  font-size: 1.5em;
  color: #d9faff;
  padding: 10px;
  width: 100px;
  background-color: #32b1fc;
}

#search-input {
  margin-left: 15%;
  text-align: center;
  font-family: NeutraThin;
  font-size: 2em;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 80%;
  max-width: 500px;
  height: 40px;
  padding: 5px;
}

#search-form input:focus, textarea:focus {
  box-shadow: 0 0 15px rgba(50, 177, 252, 1);
  border: 1px solid rgb(50 177 252);
  outline: 0; }


/* Search Results */

#search-results {
  position: absolute;
  z-index: 1;
  background-color: #1d1d1d;
  display: none;
  width: 80%;
  max-width: 400px;
  margin-left: 16%;
  margin-top: 0px;
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 5px;
  border-top: 1px solid #161515;
  border-left: 1px solid #161515;
  color: #fbfbfc;
  box-shadow: 5px 5px 5px rgba(255,255,255,0.2);
}

#search-form:hover + #search-results {
 display: block;
}

#search-results p {
  font-family: NeutraBold;
  letter-spacing: 3px;
  margin: 0 auto;
  max-width: inherit;
  width: 80%;
}

#search-results ul {
  border-radius: 5px;
  margin-bottom: 4%;
}

#search-results ul a {
  text-decoration: none;
  display: block;
  color: #fbfbfc;
}

.list {
  background-color: #2e2f33;
  font-family: NeutraThin;
  font-size: 1.5em;
  margin-left:auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: inherit;
  width: 80%;
  list-style-type: none;
  padding-top: 2%;
  padding-bottom: 2%;
}

.list img {
  border-radius: 50%;
  background-color: #ebb91c;
}

.list li:first-of-type {
  font-family: Neutra;
  font-size: 0.8em;
}

#search-results ul:hover {
  background-color: #46484e;
}


/* player */

.player-wrapper {
  width: 100%;
  overflow: hidden;
  -webkit-animation: moveLeft 50s infinite alternate;
  animation: moveLeft 50s infinite alternate;
}

.player {
  width: 125%;
}

.player-floated-img img {
  display: block;
  float: left;
}

@keyframes "imagemove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -200%;
 }
